In [8]:
#dependancies
import pandas as pd

# File to Load 
file_to_load = "../Data/clean_videogame_data_csv.csv"

# Read file and store in a DF
game_data_df = pd.read_csv(file_to_load)
game_data_df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales (in millions),EU_Sales (in millions),JP_Sales (in millions),Other_Sales (in millions),Global_Sales (in millions),Critic_Score,User_Score,Developer,Rating
0,Tales of Xillia 2,PS3,1970,Role-Playing,Namco Bandai Games,0.20,0.12,0.45,0.07,0.84,71.0,79.0,Bandai Namco Games,T
1,.hack//Infection Part 1,PS2,1970,Role-Playing,Atari,0.49,0.38,0.26,0.13,1.27,75.0,85.0,CyberConnect2,T
2,.hack//Mutation Part 2,PS2,1970,Role-Playing,Atari,0.23,0.18,0.20,0.06,0.68,76.0,89.0,CyberConnect2,T
3,.hack//Outbreak Part 3,PS2,1970,Role-Playing,Atari,0.14,0.11,0.17,0.04,0.46,70.0,87.0,CyberConnect2,T
4,[Prototype 2],X360,1970,Action,Activision,0.48,0.24,0.00,0.07,0.79,74.0,70.0,Radical Entertainment,M

In [9]:
#check the number of unique titles
#this drastically reduced number is explained by games being released on multiple platforms and some titles are exclusive.
clean_count = game_data_df['Name'].nunique()
clean_count

4377

In [10]:
#checking the number of platforms, this number was surprisingly high until I realised that there were several handheld consoles in the mix
platform_count = game_data_df['Platform'].nunique()
platform_count

17

In [36]:
console_group = game_data_df.groupby(['Platform'])
pd.DataFrame(console_group.size().reset_index(name = "Console_Count"))

   Platform  Console_Count
0       3DS            155
1        DC             14
2        DS            464
3       GBA            237
4        GC            348
5        PC            651
6        PS            150
7       PS2           1140
8       PS3            769
9       PS4            239
10      PSP            390
11      PSV            118
12      Wii            479
13     WiiU             89
14     X360            858
15       XB            565
16     XOne            159